{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<ul>
  <li>
    <a href="/account/updateacctinfo">Update your account information</a>
  </li>
  <li>
    <a href="/account/changepassword">Change your password</a>
  </li>
  <li>
    <a href="/account/savedtrails">Your saved trails</a>
  </li>
  <li>
    <a href="/account/completedtrails">Your completed trails</a>
  </li>
  <li>
    <a href="/account/trips">Your trips</a>
  </li>
</ul>






{% endblock %}