<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- jQuery & Bootstrap scripts -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/static/styles.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/static/images/mountains.png">
  {% block head %}
{% endblock %}
</head>
<body>
  <!-- Persistent navbar accross all pages -->
  <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="/">brand</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item hidden dropdown" id="account">
            <a class="nav-link dropdown-toggle" href="#" id="AcctDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="AcctDropDown">
              <a class="dropdown-item" href="/account/updateacctinfo">
                Update Account Info
              </a>
              <a class="dropdown-item" href="/account/changepassword">
                Change Password
              </a>  
              <a class="dropdown-item" href="/account/savedtrails">
                Saved Trails
              </a>              
              <a class="dropdown-item" href="/account/completedtrails">
                Completed Trails
              </a> 
              <a class="dropdown-item" href="/account/trips">
                Trips
              </a>
            </div>
          </li>
          <li class="nav-item" id="register">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item" id="login">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item hidden" id="logout">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
  </nav>


  <!-- Display flashed messages -->
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
  
  <!-- Script to display navbar buttons based on logged in state -->
  <script src="/static/togglenavbar.js"></script>
  
  {% block content %} put your content here {% endblock %}
</body>
</html>