{% extends "base.html" %}

{% block title %}Start Planning a Trip{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row">
    <div id="create-new-trip" class="col">
      <h2>Create a new trip!</h2>
      <form class="form-group" action="/createnewtrip" method="POST">
        <label for="trip-name">Trip Name</label>
            <input type="text" class="form-control" id="trip-name" name="trip-name" placeholder="Trip Name">
        <label for="accommodations">Trip Accommodations</label>
            <input type="text" class="form-control" id="accommodations" name="accommodations" placeholder="Trip Accommodations">
        <label for="start-date">Trip Start</label>
            <input type="date" class="form-control" id="start-date" name="start-date">
        <label for="end-date">Trip End</label>
            <input type="date" class="form-control" id="end-date" name="end-date">        
        <input type="submit" class="btn btn-primary"> 
      </form>
    </div>
  </div>

{% endblock %}