{% extends "base.html" %}

{% block title %}Start Planning a Trip{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row align-items-center">
    <div id="create-new-trip" class="col">
      <div class="row justify-content-center">
        <h2>Create a new trip!</h2>
      </div>
      <div class="row align-items-center justify-content-center">
        <form class="form-group" action="/createnewtrip" method="POST">
          <label for="trip-name">Name your trip</label>
              <input type="text" class="form-control" id="trip-name" name="trip-name" placeholder="Trip Name">
          <label for="accommodations">Where are you staying?</label>
              <input type="text" class="form-control" id="accommodations" name="accommodations" placeholder="Trip Accommodations">      
          <input type="submit" class="btn btn-primary"> 
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}