{% extends "base.html" %}

{% block title %}Route Trout{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<video poster="/static/images/Video-still.png" id="homepage-video" playsinline autoplay muted loop>
  <source src="/static/images/Video.mp4" type="video/mp4">
</video>
<div id="homepage-wrapper" class="homepage">
  <div id="homepage" class="homepage">
    <img src="/static/images/Route Trout.png" id="homepage-logo" class="homepage logo">
    <div class="form-group" id="homepage-search-div" class="homepage">
      <form action="/search" id="homepage-search-form" class="homepage" autocomplete="off">
        <input type="text" name="search" id="homepage-search-bar" class="form-control" class="homepage" placeholder="Search for hiking trails">
        <input type="submit" class="btn btn-primary" value="Search" id="homepage-search-btn" class="homepage">
      </form>
    </div>
  </div>
</div>

{% if "most_recent_trail" in session %}
<p id="most_recent_trail" class="hidden">{{session["most_recent_trail"]}}</p>
<div id="recent-trails-holder" class="col">
  <div class="row">
    <div class="col">
      <h4 id="recently-viewed-header">Recently viewed trails:</h4>
    </div>
  </div>
  <div id="most_recent_div" class="row align-items-center justify-content-center">
  </div>
</div>

{% endif %}
{% if "second_most_recent" in session %}
<p id="second_most_recent" class="hidden">{{session["second_most_recent"]}}</p>

{% endif %}
{% if "third_most_recent" in session %}
<p id="third_most_recent" class="hidden">{{session["third_most_recent"]}}</p>
{% endif %}

<script src="/static/homepage.js"></script>

{% endblock %}