{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="form-group">
  <form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required
    minlength=5>
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    <input type="submit" class="btn btn-primary">
  </form>
</div>
{% endblock %}