{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h1>Create an account</h1>

<div class="form-group">
  <form action="/register" method="POST">
  <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required
    minlength=5>
  <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
  <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
  <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required>
  <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" required>
  <label for="cell">Cellphone Number</label>
    <input type="tel" class="form-control" id="cell" name="cell" placeholder="eg 123-456-7890" 
    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
  <label for="city">City</label>
    <input type="text" class="form-control" id="city" name="city" placeholder="City">
  <label for="state">City</label>
    <input type="text" class="form-control" id="state" name="state" placeholder="State" maxlength=2>
  <label for="zipcode">Zip Code</label>
    <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zip Code">
  <input type="submit" class="btn btn-primary">
  </form>
</div>

{% endblock %}