{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <div class="row justify-content-center">
        <h2>Create an Account</h2>
      </div>
      <div class="row justify-content-center">
        <div class="form-group">
          <form action="/register" method="POST">
          <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required
            minlength=5 onblur="myFunction()">
          <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
          <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
          <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}