{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row" id="search-terms-div">
  <div class="col edit">
    <h2 class="edit">Search Results</h2>
    <label for="search-results-search" class="edit">Search for trails</label>
    <form action="/search" class="edit">
      <input type="text" name="search" id="search-results-search" class="edit">
      <input type="submit" class="btn btn-primary edit" value="Search">
    </form>
  </div>
</div>
<div class="row">
  <div class="col" id="search-list">
    <div id="trail-list-container">
    </div>
    <button type="button" class="btn btn-primary hidden" id="prev-button">
      Previous 10 trails
    </button>
    <button type="button" class="btn btn-primary" id="next-button">
      Next 10 trails
    </button>
  </div>
  <div class="col" id="search-map">
    <div id="search-map-container" class="map-container">
    </div>
    <button class="btn btn-primary" id="hide-trip-markers">Hide Trip Markers</button>
    <button class="btn btn-primary hidden" id="show-trip-markers">Show Trip Markers</button>
  </div>
</div>

<script src="/static/searchresults.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&callback=initMap">
</script>



{% endblock %}