{% extends "base.html" %}

{% block title %}{{trail.trail_name}}{% endblock %}

{% block head %}

<style>
    /* Set the size of the div element that contains the map */
   #map-container {
     height: 400px;  /* The height is 400 pixels */
     width: 100%;  /* The width is the width of the web page */
    }
 </style>
 
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>{{trail.trail_name}}</h1>
    <img src={{trail.img_lg_url}}>
    <p>{{trail.description}}</p>
    <p>Length: {{trail.length}}</p>
    <p>Difficulty: {{trail.difficulty}}</p>
    <p>Location: {{trail.city}}, {{trail.state}}</p>

    <button type="button" class="btn btn-primary">Save this trail</button>
    <button type="button" class="btn btn-primary">Mark the trail as completed</button>

</div>

<div id="map-container"></div>

<script>

    const long = "{{trail.long}}"
    const latt = "{{trail.lat}}"

    console.log(long, latt)

    const numLong = Number(long)
    const numLat = Number(latt)

    console.log(numLong, numLat)

    const current_trail = {
    lat: numLat,
    lng: numLong
};

function initMap() {
    const map = new google.maps.Map(
        document.getElementById("map-container"), 
        {zoom: 10, 
        center: current_trail
        }
    );
    const marker = new google.maps.Marker(
        {position: current_trail, 
         map: map
        }
    );
}

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&callback=initMap">
</script>

{% endblock %}