{% extends "base.html" %}

{% block title %}{{trail.trail_name}}{% endblock %}

{% block head %}

 
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1 id="trail-name">{{trail.trail_name}}</h1>
    <img src={{trail.img_lg_url}}>
    <p>{{trail.description}}</p>
    <p>Length: {{trail.length}}</p>
    <p>Difficulty: {{trail.difficulty}}</p>
    <p>Location: {{trail.city}}, {{trail.state}}</p>
    <p>Ascent: {{trail.ascent}}</p>
    <p>Descent: {{trail.descent}}</p>
    <p>Highest Altitude: {{trail.high_altitude}}</p>
    <p>Lowest Altitude: {{trail.low_altitude}}</p>

    <button type="button" class="btn btn-primary" id="save-button">
        Save this trail
    </button>
    <button type="button" class="btn btn-primary hidden" id="unsave-button">
        Unsave this trail
    </button>

    <button type="button" class="btn btn-primary" id="complete-button">
        Mark the trail as completed
    </button>
    <button type="button" class="btn btn-primary hidden" id="uncomplete-button">
        Unmark the trail as completed
    </button>

  <span class="dropdown">
    <a role="button" class="btn btn-primary dropdown-toggle" id="add-to-trip-button" 
            href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add to trip
    </a>
    <div class="dropdown-menu" aria-labelledby="add-to-trip-button">
        {% for trip in trips %}
        <a class="dropdown-item" href="/trail/{{trail.trail_id}}/addtotrip/{{trip.trip_id}}" id="{{trip.trip_id}}">
            {{trip.trip.trip_name}}
        </a>
        {% endfor %}
    </div>


    <button type="button" class="btn btn-primary hidden" id="remove-from-trip-button">
        Remove from trip
    </button>
</span>

</div>

<div id="trail-map-container" class="map-container"></div>

<!-- Script to capture interaction with save & complete buttons on trail pages -->
<script src="/static/trailpagebuttons.js"></script>

<!-- Script to initialize Google map & place marker -->
<script src="/static/displaytrailmap.js"></script>

<!-- Google Maps JS API script -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&callback=initMap">
</script>

{% endblock %}