{% extends "base.html" %}

{% block title %}{{trip.trip_name}}{% endblock %}

{% block head %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

{% endblock %}

{% block content %}

<h2>{{trip.trip_name}}</h2>

<h5 class="edit">Trip Accommodations</h5>
<button class="btn btn-link edit" type="button" id="edit-trip-accom-button">
    Edit
</button>
<p id="trip-accom-p">{{trip.trip_accommodations}}</p>
<div class="form-group hidden" id="edit-trip-accom-div">
    <form class="form-group" id="edit-trip-accom-form">
    <input type="text" class="form-control" id="trip_accom" name="trip_accom" value="{{trip.trip_accommodations}}">
    <input type="submit" class="btn btn-primary" id="edit-trip-accom-submit">
    </form>
</div>

<h5>Trip Participants</h5>
    <ul>
        {% for trip_user in trip.trip_users %}
            <li>{{trip_user.user.username}}</li>
        {% endfor %}
    </ul>

<div>
    <select name="users[]" multiple="multiple" id="add-users-to-trip">
        {% for user in all_users %}
        <option value={{user.user_id}}>{{user.username}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add users to trip" class="btn btn-primary" id="add-users-to-trip-button">
</div>

<h5>Trip Trails</h5>
{% if trip.trip_trails %}
<ul>
    {% for trip_trail in trip.trip_trails %}
        <li>
            <a href="/trail/{{trip_trail.trail_id}}">{{trip_trail.trail.trail_name}}</a>
            <br>
            <p>Added by {{trip_trail.user.username}}</p>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No trails added to this trip</p>
{% endif %}
<a href="/search?search={{trip.trip_accommodations}}" id="trip-trail-search-a">
    <button type="button" class="btn btn-primary" id="trip-trail-search-button">
    Search for trails nearby
    </button>
</a>

<div id="tripmapdiv" class="map-container"></div>


<button type="button" class="btn btn-secondary" id="archive-trip">
    Archive this trip
</button>
<button type="button" class="btn btn-secondary hidden" id="unarchive-trip">
    Unarchive this trip
</button>

<a href="/deletetrip/{{trip.trip_id}}">
    <button type="button" class="btn btn-danger" id="delete-trip">
    Delete this trip
    </button>
</a>

<script src="/static/trippagebuttons.js"></script>
<!-- Script to initialize Google map & place marker -->
<script src="/static/displaytripmap.js"></script>

<!-- Google Maps JS API script -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&callback=initMap">
</script>
{% endblock %}