{% extends "base.html" %}

{% block title %}{{trip.trip_name}}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<h2>{{trip.trip_name}}</h2>

<h5>Trip Accommodations</h5>
<p>{{trip.trip_accommodations}}</p>

<h5>Trip Start</h5>
<p>{{trip.trip_start_date}}</p>

<h5>Trip End</h5>
<p>{{trip.trip_end_date}}</p>

<h5>Trip Participants</h5>
    <ul>
        {% for trip_user in trip.trip_users %}
            <li>{{trip_user.user.username}}</li>
        {% endfor %}
    </ul>

<h5>Trip Trails</h5>
{% if trip.trip_trails %}
<ul>
    {% for trip_trail in trip.trip_trails %}
        <li>
            <a href="/trail/{{trip_trail.trail_id}}">{{trip_trail.trail.trail_name}}</a>
            <br>
            <p>Added by {{trip_trail.user.username}}</p>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No trails added to this trip</p>
{% endif %}
<a href="/search?search={{trip.trip_accommodations}}">
    <button type="button" class="btn btn-primary" id="trip-trail-search-button">
    Search for trails nearby
    </button>
</a>

<div id="tripmapdiv" class="map-container"></div>

<a href="/deletetrip/{{trip.trip_id}}">
    <button type="button" class="btn btn-danger" id="delete-trip">
    Delete this trip
    </button>
</a>


<!-- Script to initialize Google map & place marker -->
<script src="/static/displaytripmap.js"></script>

<!-- Google Maps JS API script -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&callback=initMap">
</script>
{% endblock %}