{% extends "base.html" %}

{% block title %}{{trip.trip_name}}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<h2>{{trip.trip_name}}</h2>

<h5>Trip Accommodations</h5>
<p>{{trip.trip_accommodations}}</p>

<h5>Trip Start</h5>
<p>{{trip.trip_start_date}}</p>

<h5>Trip End</h5>
<p>{{trip.trip_end_date}}</p>

<h5>Trip Participants</h5>
    <ul>
        {% for trip_user in trip.trip_users %}
            <li>{{trip_user.user.username}}</li>
    </ul>
{% endfor %}



<!-- Script to initialize Google map & place marker -->
<script src="/static/displaytripmap.js"></script>

<!-- Google Maps JS API script -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&callback=initMap">
</script>
{% endblock %}